<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Trips

    <a data-toggle="collapse" href="#rider_trips_new_form">
      Add trip
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @rider.trips.each do |trip| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <%= link_to trip, trip %>
        <!-- Show link end -->

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="rider_trips_new_form">
        <!-- New associationcollection form start -->

        <!-- New associationcollection form end -->
      </div>
    </div>

  </ul>
</div>
