<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @rider, partial: "card", as: :rider %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "riders/rider_trips" %>
  </div>
</div>
